@import "src/style/index";



main {
  //display: flex;
  //max-width: 500px;
  //flex-wrap: wrap;
  padding: 10px;
}

.cell {
  min-width: 50px;
  height: 50px;
  background: lightgray;
  text-align: center;
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
}
.cell.alive {
  background: lime;
}