@import "src/style/index";



main {
  //display: flex;
  //max-width: 500px;
  //flex-wrap: wrap;
  padding: 10px;
  background: lightgray;
}

table {
  background: $bg-color;
}

button,
select {
  padding: 6px 14px;
  border: 1px solid $bg-color;
}

.cell {
  min-width: 25px;
  height: 25px;
  background: lightgray;
  text-align: center;
  font-size: 12px;
  color: $secondary;
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
}
.cell.alive {
  background: lime;
}
