@import "src/style/index";
@import "src/style/sidebar";


main {
  text-align: center;
  display: flex;
  gap: 20px;
}

canvas#car-canvas {
  display: inline-block;
  background: $primary;
  height: 100vh;
  width: 200px;
}

canvas#network-canvas {
  display: inline-block;
  background: $sidebar;
  height: 100vh;
  width: 300px;
}