<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
            <title>dom</title>
        </head>
        <body>

            <header>
                <h3>index</h1>
            </header>

            <main>
                
                

            </main>


        </body>
</html>