<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
            <title>pdp</title>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
            <meta name="viewport" content="width=device-width,initial-scale=1">
        </head>
        <body>

            <header>
                <h3>life</h3>
                <p>Conway's Game of Life implementation</p>
                <button>Start</button>
            </header>

            <main>
                <table class="ciao"><tbody></tbody></table>
            </main>

        </body>
</html>
