@import "reset";
@import "colors";
@import "font";


body {
    background: $bg-color;
    height: 100vh;
    color: $font-color;
}


header {
    background: $primary;
    color: $bg-color;
    padding: 20px 5px;
}


a {
    padding: 10px;
    color: $primary;
    font-weight: bold;
}